<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <form id="userForm">
        <input type="text" class="form-control" id="userId" name="id">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for="userName">昵称:</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="userName" name="userName">
                </div>
                <div class="col-md-2">
                    <label for="userAge">年龄:</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="userAge" name="userAge">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="userNumber">账号:</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="userNumber" name="userNumber">
                </div>
                <div class="col-md-2">
                    <label for="userPassword">密码:</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="userPassword" name="userPassword">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="userSex">性别:</label>
                </div>
                <div class="col-md-4">
                    <label class="radio-inline">
                        <input type="radio" name="userSex" value="1">男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="userSex" value="2">女
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>